.container{
    margin: auto;
}

img{
    width:100%;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: auto 50px auto 50px;
    padding:0px 30px;
}

.primary-text{
    color: #56a79a;
}

.primary-background{
    background: #5566aa;
}

#main-header{
    border-bottom: 1px solid #56a79a;
    background-color: rgb(228, 226, 229);
}

#show{
    border-bottom: 1px solid #56a79a;
    margin-bottom: auto;
}

#show .row{
    height: 35px;
}

#show h1{
    font-size: 50px;
    margin: 0px;
    padding-bottom: 20px;
}

#show p{
    color: #ffffff;
    margin: 0px;
    text-decoration-style: wavy;

}

#show .show-content{
    background: #333333;
    color:fff;
    border-radius:90px;
    padding: 1px;
    opacity: 0.9;
}

#main-body{
    background-color: #666699; 
    border-bottom: 1px solid #56a79a;
    padding: 30px;
}

#main-body h2{
    font-size: 2.5em;
    margin: 0px;
    padding-bottom: 20px;
}

#main-body p{
    color: #ffffff;
    margin: 0px;
    padding: 10px;
}

a:active , a:visited {
    color: #ffffff; 
    background-color: transparent; 
    text-decoration: underline;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}


.myForm{
    max-width: 300px;
    position: relative;
    padding: 10px 20px;
    background: #c2c2d6;
    margin: 10px auto;
    border-radius: 8px;
    font: Georgia, 'Times New Roman', Times, serif #000000;
    
}

.myForm fieldset{
    border: none;
}

.myForm legend{
    font-size: 1.4em;
    margin-bottom: 10px;
}

.myForm .heading{
   
    color: #330202;
    height: 50px;
    display: inline-block;
    font-size: 1.5em;
    margin-right: 4px;
    line-height: 50px;
    text-align: center;

}

.myForm .miniheading{
    
    color: #1a0909;
    display: inline-block;
    height: 30px;
    font-size: 0.8em;
    line-height: 30px;
    text-align: left;
}

.myForm input[type="text"], .myForm input[type="date"], .myForm input[type="radio"],
.myForm input[type="email"],.myForm input[type="password"] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #ffffff;
    border:none;
    border-radius: 6px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding:7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;


}

.myForm input[type="text"]:focus, .myForm input[type="date"]:focus, .myForm input[type="radio"]:focus,
.myForm input[type="email"]:focus,.myForm input[type="password"]:focus{
    background: #d2d9dd;
}

.myForm input[type="submit"], .myForm input[type="reset"]{
    position: relative;
    display: block;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style:normal;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
    
}

.myForm input[type="submit"]:hover, .myForm input[type="reset"]:hover,{
    background: #109177
}
#main-footer{
    background-color: #b300b3;
    border-bottom: 1px solid #56a79a;
}


@media (max-width: 400px) {
    #main-body .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #main-body .myForm {
        width: 60%;
    }
}

